flows/CancelTask.json
{
  "name": "8b0d9024-4b95-4b92-83aa-0b6db37040af",
  "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4/flows/8b0d9024-4b95-4b92-83aa-0b6db37040af",
  "type": "Microsoft.ProcessSimple/environments/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "CancelTask",
    "userType": "Owner",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cancel-task-trigger"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Task name or description to cancel",
                  "title": "taskIdentifier",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Email of the user requesting cancellation",
                  "title": "userEmail",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "List_Running_Tasks": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "list-running"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr_shraga_tasks",
              "$filter": "(cr_status eq 1 or cr_status eq 5) and crb3b_useremail eq '@{triggerBody()['text_1']}'",
              "$orderby": "createdon desc",
              "$top": 1,
              "$select": "cr_shraga_taskid,cr_prompt,cr_status,crb3b_useremail"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_Found": {
          "runAfter": {
            "List_Running_Tasks": [
              "Succeeded"
            ]
          },
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('List_Running_Tasks')?['body/value'])",
              0
            ]
          },
          "actions": {
            "Check_If_Pending": {
              "runAfter": {},
              "type": "If",
              "expression": {
                "equals": [
                  "@first(outputs('List_Running_Tasks')?['body/value'])?['cr_status']",
                  1
                ]
              },
              "actions": {
                "Cancel_Pending_Task": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr_shraga_tasks",
                      "recordId": "@first(outputs('List_Running_Tasks')?['body/value'])?['cr_shraga_taskid']",
                      "item/cr_status": 9
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Respond_Canceled": {
                  "runAfter": {
                    "Cancel_Pending_Task": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "kind": "Skills",
                  "inputs": {
                    "statusCode": 200,
                    "body": {
                      "response": "Task was pending and has been canceled."
                    },
                    "schema": {
                      "type": "object",
                      "properties": {
                        "response": {
                          "title": "response",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Set_Canceling": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr_shraga_tasks",
                        "recordId": "@first(outputs('List_Running_Tasks')?['body/value'])?['cr_shraga_taskid']",
                        "item/cr_status": 11
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Respond_Canceling": {
                    "runAfter": {
                      "Set_Canceling": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response",
                    "kind": "Skills",
                    "inputs": {
                      "statusCode": 200,
                      "body": {
                        "response": "Task is running and cancellation has been requested. The worker will stop at the next checkpoint."
                      },
                      "schema": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "title": "response",
                            "x-ms-dynamically-added": true,
                            "type": "string"
                          }
                        },
                        "additionalProperties": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "else": {
            "actions": {
              "Respond_None": {
                "runAfter": {},
                "type": "Response",
                "kind": "Skills",
                "inputs": {
                  "statusCode": 200,
                  "body": {
                    "response": "No pending or running tasks found to cancel."
                  },
                  "schema": {
                    "type": "object",
                    "properties": {
                      "response": {
                        "title": "response",
                        "x-ms-dynamically-added": true,
                        "type": "string"
                      }
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "triggerSchema": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Task name or description to cancel",
          "title": "taskIdentifier",
          "type": "string",
          "x-ms-content-hint": "TEXT",
          "x-ms-dynamically-added": true
        },
        "text_1": {
          "description": "Email of the user requesting cancellation",
          "title": "userEmail",
          "type": "string",
          "x-ms-content-hint": "TEXT",
          "x-ms-dynamically-added": true
        }
      },
      "required": [
        "text",
        "text_1"
      ]
    },
    "state": "Started",
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "57aef69c3763444e8cfb3b0b5ba18fea",
        "source": "Embedded",
        "impersonation": {},
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "displayName": "Microsoft Dataverse",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1797/1.0.1797.4592/commondataserviceforapps/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "commondataserviceforapps",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "installedConnectionReferences": {},
    "createdTime": "2026-02-15T07:22:21.5730526Z",
    "lastModifiedTime": "2026-02-23T20:42:24.4630059Z",
    "flowSuspensionReason": "None",
    "environment": {
      "name": "8660590d-33ac-ecd8-aef3-e4dd0d6071f4",
      "type": "Microsoft.ProcessSimple/environments",
      "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4"
    },
    "definitionSummary": {
      "triggers": [
        {
          "type": "Request",
          "kind": "Skills",
          "metadata": {
            "operationMetadataId": "cancel-task-trigger"
          }
        }
      ],
      "actions": [
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "ListRecords",
          "metadata": {
            "operationMetadataId": "list-running"
          }
        },
        {
          "type": "If"
        },
        {
          "type": "If"
        },
        {
          "type": "Response",
          "kind": "Skills"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateRecord"
        },
        {
          "type": "Response",
          "kind": "Skills"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateRecord"
        },
        {
          "type": "Response",
          "kind": "Skills"
        }
      ]
    },
    "creator": {
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userType": "ActiveDirectory"
    },
    "flowTriggerUri": "https://8660590d-33ac-ecd8-aef3-e4dd0d6071f4.03.common.canada.azure-apihub.net:443/apim/logicflows/8B0D90244B954B9283AA0B6DB37040AF-49561AFE89A3EB1E/triggers/manual/run?api-version=2016-06-01",
    "installationStatus": "Installed",
    "provisioningMethod": "FromDefinition",
    "flowFailureAlertSubscribed": true,
    "referencedResources": [],
    "isManaged": false,
    "machineDescriptionData": {}
  }
}