flows/TaskRunner.json
{
  "name": "ae21fda1-a415-4e88-8cd4-c90fb0321faf",
  "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4/flows/ae21fda1-a415-4e88-8cd4-c90fb0321faf",
  "type": "Microsoft.ProcessSimple/environments/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "TaskRunner",
    "userType": "Owner",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr_shraga_task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "cr_status eq 10"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr_shraga_tasks",
              "recordId": "@triggerOutputs()?['body/cr_shraga_taskid']",
              "$select": "cr_shraga_taskid,cr_prompt,cr_status,crb3b_useremail,crb3b_runningmessageid,crb3b_onedriveurl,crb3b_shortdescription,crb3b_mcsconversationid,crb3b_inboundrowid"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Check_Email": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Post_card_in_a_chat_or_channel": {
                "runAfter": {
                  "Compose_CardWithOneDrive": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@outputs('Get_a_row_by_ID')?['body/crb3b_useremail']",
                    "body/messageBody": "@outputs('Compose_CardWithOneDrive')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                    "connectionName": "shared_teams-1",
                    "operationId": "PostCardToConversation"
                  },
                  "retryPolicy": {
                    "type": "fixed",
                    "count": 3,
                    "interval": "PT30S"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Update_a_row": {
                "runAfter": {
                  "Post_card_in_a_chat_or_channel": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_shraga_tasks",
                    "recordId": "@outputs('Get_a_row_by_ID')?['body/cr_shraga_taskid']",
                    "item/crb3b_deeplink": "@outputs('Post_card_in_a_chat_or_channel')?['body/messageLink']",
                    "item/crb3b_runningchatid": "@outputs('Post_card_in_a_chat_or_channel')?['body/conversationId']",
                    "item/crb3b_runningmessageid": "@outputs('Post_card_in_a_chat_or_channel')?['body/id']",
                    "item/cr_status": 1
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Compose_CardTemplate": {
                "type": "Compose",
                "inputs": {
                  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                  "type": "AdaptiveCard",
                  "version": "1.5",
                  "body": [
                    {
                      "type": "Container",
                      "style": "emphasis",
                      "bleed": true,
                      "items": [
                        {
                          "type": "ColumnSet",
                          "columns": [
                            {
                              "type": "Column",
                              "width": "auto",
                              "items": [
                                {
                                  "type": "Image",
                                  "url": "https://cdn-icons-png.flaticon.com/512/4712/4712109.png",
                                  "size": "Medium",
                                  "style": "Person",
                                  "altText": "Shraga Agent"
                                }
                              ],
                              "verticalContentAlignment": "Center"
                            },
                            {
                              "type": "Column",
                              "width": "stretch",
                              "items": [
                                {
                                  "type": "TextBlock",
                                  "text": "Shraga Worker",
                                  "weight": "Bolder",
                                  "size": "Medium"
                                },
                                {
                                  "type": "TextBlock",
                                  "text": "{shortDescription} [See full description]({taskPromptUrl})",
                                  "size": "Default",
                                  "isSubtle": true,
                                  "spacing": "None",
                                  "wrap": true
                                }
                              ],
                              "verticalContentAlignment": "Center"
                            },
                            {
                              "type": "Column",
                              "width": "auto",
                              "items": [
                                {
                                  "type": "TextBlock",
                                  "text": "QUEUED",
                                  "color": "Warning",
                                  "size": "Default",
                                  "weight": "Bolder"
                                }
                              ],
                              "verticalContentAlignment": "Center"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "type": "Container",
                      "spacing": "Medium",
                      "items": [
                        {
                          "type": "TextBlock",
                          "text": "Task: {taskIdShort}",
                          "size": "Small",
                          "isSubtle": true,
                          "spacing": "None"
                        },
                        {
                          "type": "TextBlock",
                          "text": "Submitted: {startedAt}",
                          "size": "Default",
                          "isSubtle": true
                        },
                        {
                          "type": "TextBlock",
                          "text": "ACTIVITY LOG",
                          "size": "Default",
                          "isSubtle": true,
                          "weight": "Bolder",
                          "spacing": "Small"
                        }
                      ]
                    },
                    {
                      "type": "Container",
                      "spacing": "Small",
                      "style": "emphasis",
                      "items": [
                        {
                          "type": "ColumnSet",
                          "spacing": "Small",
                          "columns": [
                            {
                              "type": "Column",
                              "width": "90px",
                              "items": [
                                {
                                  "type": "TextBlock",
                                  "text": "{startedAt}",
                                  "color": "Accent",
                                  "size": "Small",
                                  "spacing": "None",
                                  "fontType": "Monospace"
                                }
                              ]
                            },
                            {
                              "type": "Column",
                              "width": "stretch",
                              "items": [
                                {
                                  "type": "TextBlock",
                                  "text": "Task queued. Waiting for available worker...",
                                  "size": "Small",
                                  "wrap": true,
                                  "spacing": "None"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "type": "Container",
                      "spacing": "Small",
                      "separator": true,
                      "items": [
                        {
                          "type": "TextBlock",
                          "text": "Want to cancel? [Tell the bot: cancel {taskIdShort}](https://teams.microsoft.com/l/chat/0/0?users=28:420df934-d9e8-4c2f-bb03-f4c103dfb399&message=cancel%20{taskIdShort})",
                          "size": "Small",
                          "isSubtle": true
                        }
                      ]
                    }
                  ]
                }
              },
              "Compose_CardResolved": {
                "runAfter": {
                  "Compose_CardTemplate": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@replace(replace(replace(replace(string(outputs('Compose_CardTemplate')),'{shortDescription}',replace(replace(replace(replace(take(coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_shortdescription'],outputs('Get_a_row_by_ID')?['body/cr_prompt'],'Task'),200), '\\\\', '\\\\\\\\'), '\"', '\\\\\"'), decodeUriComponent('%0A'), ' '), decodeUriComponent('%0D'), '')),'{taskPromptUrl}',if(empty(outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl']),'',replace(coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl'],''),'&view=0','/TASK_PROMPT.md'))),'{startedAt}',concat(formatDateTime(utcNow(),'MMM dd, yyyy h:mm tt'),' UTC')),'{taskIdShort}',take(string(outputs('Get_a_row_by_ID')?['body/cr_shraga_taskid']), 8))"
              },
              "Compose_CardWithOneDrive": {
                "runAfter": {
                  "Compose_CardResolved": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@json(concat(substring(outputs('Compose_CardResolved'), 0, sub(length(outputs('Compose_CardResolved')), 2)), if(empty(outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl']), '', concat(',{\"type\":\"TextBlock\",\"text\":\"Session folder: ', outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl'], '\",\"size\":\"Small\",\"isSubtle\":true,\"spacing\":\"Small\"}')), ']}'))"
              },
              "Resolve_Task_Owner": {
                "runAfter": {
                  "Update_a_row": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "systemusers",
                    "$filter": "internalemailaddress eq '@{outputs('Get_a_row_by_ID')?['body/crb3b_useremail']}'",
                    "$select": "systemuserid",
                    "$top": 1
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Create_Followup_Message": {
                "runAfter": {
                  "Resolve_Task_Owner": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr_shraga_conversations",
                    "item/cr_name": "Task queued - card link",
                    "item/cr_useremail": "@outputs('Get_a_row_by_ID')?['body/crb3b_useremail']",
                    "item/cr_mcs_conversation_id": "@outputs('Get_a_row_by_ID')?['body/crb3b_mcsconversationid']",
                    "item/cr_message": "@{concat('Your task is queued! Track progress here: ', outputs('Post_card_in_a_chat_or_channel')?['body/messageLink'])}",
                    "item/cr_direction": "Outbound",
                    "item/cr_status": "Unclaimed",
                    "item/cr_in_reply_to": "@outputs('Get_a_row_by_ID')?['body/crb3b_inboundrowid']",
                    "item/cr_followup_expected": "true",
                    "item/ownerid@odata.bind": "@if(greater(length(outputs('Resolve_Task_Owner')?['body/value']), 0), concat('/systemusers(', first(outputs('Resolve_Task_Owner')?['body/value'])?['systemuserid'], ')'), '')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_runningmessageid'], '')",
                    ""
                  ]
                }
              }
            ]
          },
          "type": "If"
        },
        "Check_Email": {
          "actions": {
            "Terminate_No_Email": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(outputs('Get_a_row_by_ID')?['body/crb3b_useremail'])",
                  true
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "state": "Started",
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "57aef69c3763444e8cfb3b0b5ba18fea",
        "source": "Embedded",
        "impersonation": {},
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "displayName": "Microsoft Dataverse",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1797/1.0.1797.4592/commondataserviceforapps/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "commondataserviceforapps",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_teams-1": {
        "connectionName": "70d2dee52a344508a14a40ee6013baf1",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams",
        "displayName": "Microsoft Teams",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1795/1.0.1795.4870/teams/icon.png",
        "brandColor": "",
        "tier": "Standard",
        "apiName": "teams",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "createdTime": "2026-02-13T20:13:50.4741319Z",
    "lastModifiedTime": "2026-02-24T10:38:40.2476329Z",
    "flowSuspensionReason": "None",
    "environment": {
      "name": "8660590d-33ac-ecd8-aef3-e4dd0d6071f4",
      "type": "Microsoft.ProcessSimple/environments",
      "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4"
    },
    "definitionSummary": {
      "triggers": [
        {
          "type": "OpenApiConnectionWebhook",
          "swaggerOperationId": "SubscribeWebhookTrigger"
        }
      ],
      "actions": [
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "GetItem"
        },
        {
          "type": "If"
        },
        {
          "type": "If"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "PostCardToConversation"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateOnlyRecord"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "CreateRecord"
        },
        {
          "type": "Terminate"
        }
      ]
    },
    "creator": {
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userType": "ActiveDirectory"
    },
    "installationStatus": "NotApplicable",
    "provisioningMethod": "FromDefinition",
    "flowFailureAlertSubscribed": true,
    "referencedResources": [
      {
        "service": "teams",
        "resource": {
          "chatId": "@outputs('Get_a_row_by_ID')?['body/crb3b_useremail']"
        },
        "referencers": [
          {
            "referenceSourceType": "Actions",
            "operationId": "/providers/Microsoft.PowerApps/apis/shared_teams/apiOperations/PostCardToConversation"
          }
        ]
      }
    ],
    "isManaged": false,
    "machineDescriptionData": {}
  }
}