flows/TaskProgressUpdater.json
{
  "name": "4075d69d-eef6-4a67-81c3-2ea8cc49c5b5",
  "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4/flows/4075d69d-eef6-4a67-81c3-2ea8cc49c5b5",
  "type": "Microsoft.ProcessSimple/environments/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "TaskProgressUpdater",
    "userType": "Owner",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr_shragamessage",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Init_RecentMsgs": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecentMsgs",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Init_OlderMsgs": {
          "runAfter": {
            "Init_RecentMsgs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OlderMsgs",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Init_Counter": {
          "runAfter": {
            "Init_OlderMsgs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Counter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Check_Task_ID": {
          "actions": {
            "Get_Task_Row": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr_shraga_tasks",
                  "recordId": "@triggerOutputs()?['body/crb3b_taskid']",
                  "$select": "cr_prompt,cr_status,crb3b_runningchatid,crb3b_runningmessageid,crb3b_lastcardupdatetime,createdon"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_Status_Running": {
              "actions": {
                "Check_Has_Card": {
                  "actions": {
                    "List_Messages": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr_shragamessages",
                          "$filter": "crb3b_taskid eq '@{triggerOutputs()?['body/crb3b_taskid']}'",
                          "$orderby": "createdon asc",
                          "$top": 20,
                          "$select": "cr_content,createdon"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_message": {
                      "foreach": "@outputs('List_Messages')?['body/value']",
                      "actions": {
                        "Increment_Counter": {
                          "runAfter": {},
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "Counter",
                            "value": 1
                          }
                        },
                        "Compose_Formatted_Msg": {
                          "runAfter": {
                            "Increment_Counter": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose",
                          "inputs": "@concat('[', formatDateTime(items('Apply_to_each_message')?['createdon'], 'HH:mm:ss'), '] ', replace(replace(replace(replace(substring(coalesce(items('Apply_to_each_message')?['cr_content'], '(no content)'), 0, min(length(coalesce(items('Apply_to_each_message')?['cr_content'], '(no content)')), 200)), '\\', '\\\\'), '\"', '\\\"'), decodeUriComponent('%0A'), '\\n'), decodeUriComponent('%0D'), ''))"
                        },
                        "Append_To_Recent": {
                          "runAfter": {
                            "Compose_Formatted_Msg": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "RecentMsgs",
                            "value": "@{if(greater(variables('Counter'), 1), '\\n', '')}@{outputs('Compose_Formatted_Msg')}"
                          }
                        }
                      },
                      "runAfter": {
                        "List_Messages": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach",
                      "operationOptions": "Sequential"
                    },
                    "Compose_TaskTitle": {
                      "runAfter": {
                        "Apply_to_each_message": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@replace(replace(replace(replace(take(coalesce(outputs('Get_Task_Row')?['body/cr_prompt'], 'Untitled Task'), 500), '\\', '\\\\'), '\"', '\\\"'), decodeUriComponent('%0A'), ' | '), decodeUriComponent('%0D'), '')"
                    },
                    "Compose_SubmittedTime": {
                      "runAfter": {
                        "Compose_TaskTitle": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@formatDateTime(coalesce(outputs('Get_Task_Row')?['body/createdon'], utcNow()), 'MMM dd, yyyy hh:mm:ss tt')"
                    },
                    "Compose_FullCard": {
                      "runAfter": {
                        "Compose_SubmittedTime": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@concat('{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.5\",\"body\":[{\"type\":\"Container\",\"style\":\"accent\",\"bleed\":true,\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"width\":\"auto\",\"items\":[{\"type\":\"Image\",\"url\":\"https://cdn-icons-png.flaticon.com/512/4712/4712109.png\",\"size\":\"Medium\",\"style\":\"Person\",\"altText\":\"Shraga Agent\"}],\"verticalContentAlignment\":\"Center\"},{\"type\":\"Column\",\"width\":\"stretch\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"Shraga Worker\",\"weight\":\"Bolder\",\"size\":\"Medium\"},{\"type\":\"TextBlock\",\"text\":\"', take(outputs('Compose_TaskTitle'), 200), '\",\"size\":\"Default\",\"isSubtle\":true,\"spacing\":\"None\",\"wrap\":true}],\"verticalContentAlignment\":\"Center\"},{\"type\":\"Column\",\"width\":\"auto\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"RUNNING\",\"color\":\"Accent\",\"size\":\"Default\",\"weight\":\"Bolder\"}],\"verticalContentAlignment\":\"Center\"}]}]},{\"type\":\"Container\",\"spacing\":\"Small\",\"items\":[{\"type\":\"Container\",\"style\":\"emphasis\",\"id\":\"logCollapsed\",\"maxHeight\":\"250px\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"', variables('RecentMsgs'), '\",\"wrap\":true,\"size\":\"Small\",\"fontType\":\"Monospace\",\"isSubtle\":true}]},{\"type\":\"Container\",\"style\":\"emphasis\",\"id\":\"logExpanded\",\"isVisible\":false,\"items\":[{\"type\":\"TextBlock\",\"text\":\"', variables('RecentMsgs'), '\",\"wrap\":true,\"size\":\"Small\",\"fontType\":\"Monospace\",\"isSubtle\":true}]},{\"type\":\"Container\",\"id\":\"btnExpand\",\"spacing\":\"None\",\"selectAction\":{\"type\":\"Action.ToggleVisibility\",\"targetElements\":[\"logCollapsed\",\"logExpanded\",\"btnExpand\",\"btnCollapse\"]},\"items\":[{\"type\":\"TextBlock\",\"text\":\"▼ show full log\",\"size\":\"Small\",\"color\":\"Accent\",\"horizontalAlignment\":\"Center\"}]},{\"type\":\"Container\",\"id\":\"btnCollapse\",\"isVisible\":false,\"spacing\":\"None\",\"selectAction\":{\"type\":\"Action.ToggleVisibility\",\"targetElements\":[\"logCollapsed\",\"logExpanded\",\"btnExpand\",\"btnCollapse\"]},\"items\":[{\"type\":\"TextBlock\",\"text\":\"▲ collapse log\",\"size\":\"Small\",\"color\":\"Accent\",\"horizontalAlignment\":\"Center\"}]}]},{\"type\":\"Container\",\"spacing\":\"Small\",\"items\":[{\"type\":\"FactSet\",\"facts\":[{\"title\":\"Submitted\",\"value\":\"', outputs('Compose_SubmittedTime'), '\"},{\"title\":\"Started\",\"value\":\"', outputs('Compose_SubmittedTime'), '\"}]}]},{\"type\":\"Container\",\"spacing\":\"Small\",\"separator\":true,\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"width\":\"stretch\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"', formatDateTime(utcNow(), 'MMM dd, yyyy hh:mm:ss tt'), '\",\"size\":\"Small\",\"isSubtle\":true}]},{\"type\":\"Column\",\"width\":\"auto\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"Want to cancel? [Tell the bot: cancel ', take(triggerOutputs()?['body/crb3b_taskid'], 8), '](https://teams.microsoft.com/l/chat/0/0?users=28:BOT_APP_ID&message=cancel%20', take(triggerOutputs()?['body/crb3b_taskid'], 8), ')\",\"size\":\"Small\",\"isSubtle\":true}]}]}]}]}')"
                    },
                    "Parse_Card_JSON": {
                      "runAfter": {
                        "Compose_FullCard": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose",
                      "inputs": "@json(outputs('Compose_FullCard'))"
                    },
                    "Scope_Update_Card": {
                      "actions": {
                        "Update_Card_In_Teams": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "poster": "Flow bot",
                              "location": "Group chat",
                              "body/messageId": "@outputs('Get_Task_Row')?['body/crb3b_runningmessageid']",
                              "body/recipient": "@outputs('Get_Task_Row')?['body/crb3b_runningchatid']",
                              "body/messageBody": "@outputs('Parse_Card_JSON')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                              "connectionName": "shared_teams",
                              "operationId": "UpdateCardInConversation"
                            },
                            "retryPolicy": {
                              "type": "fixed",
                              "count": 3,
                              "interval": "PT30S"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Parse_Card_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "Scope"
                    },
                    "Update_Timestamp": {
                      "runAfter": {
                        "Scope_Update_Card": [
                          "Succeeded",
                          "Failed"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr_shraga_tasks",
                          "recordId": "@triggerOutputs()?['body/crb3b_taskid']",
                          "item/crb3b_lastcardupdatetime": "@utcNow()"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Terminate_No_Card": {
                        "runAfter": {},
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Cancelled"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_Task_Row')?['body/crb3b_runningmessageid'], '')",
                            ""
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@coalesce(outputs('Get_Task_Row')?['body/crb3b_runningchatid'], '')",
                            ""
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Task_Row": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Terminate_Not_Running": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_Task_Row')?['body/cr_status']",
                  5
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Init_Counter": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate_No_TaskID": {
                "runAfter": {},
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@coalesce(triggerOutputs()?['body/crb3b_taskid'], '')",
                ""
              ]
            }
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "state": "Started",
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "57aef69c3763444e8cfb3b0b5ba18fea",
        "source": "Embedded",
        "impersonation": {},
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "displayName": "Microsoft Dataverse",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1797/1.0.1797.4592/commondataserviceforapps/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "commondataserviceforapps",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_teams": {
        "connectionName": "70d2dee52a344508a14a40ee6013baf1",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams",
        "displayName": "Microsoft Teams",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1795/1.0.1795.4870/teams/icon.png",
        "brandColor": "",
        "tier": "Standard",
        "apiName": "teams",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "createdTime": "2026-02-14T13:29:13.0088168Z",
    "lastModifiedTime": "2026-02-18T23:17:42.2135746Z",
    "flowSuspensionReason": "None",
    "environment": {
      "name": "8660590d-33ac-ecd8-aef3-e4dd0d6071f4",
      "type": "Microsoft.ProcessSimple/environments",
      "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4"
    },
    "definitionSummary": {
      "triggers": [
        {
          "type": "OpenApiConnectionWebhook",
          "swaggerOperationId": "SubscribeWebhookTrigger"
        }
      ],
      "actions": [
        {
          "type": "InitializeVariable"
        },
        {
          "type": "InitializeVariable"
        },
        {
          "type": "InitializeVariable"
        },
        {
          "type": "If"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "GetItem"
        },
        {
          "type": "If"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "If"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "ListRecords"
        },
        {
          "type": "Foreach"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Scope"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateOnlyRecord"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "IncrementVariable"
        },
        {
          "type": "Compose"
        },
        {
          "type": "If"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateCardInConversation"
        },
        {
          "type": "AppendToStringVariable"
        },
        {
          "type": "AppendToStringVariable"
        }
      ]
    },
    "creator": {
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userType": "ActiveDirectory"
    },
    "installationStatus": "NotApplicable",
    "provisioningMethod": "FromDefinition",
    "flowFailureAlertSubscribed": true,
    "referencedResources": [
      {
        "service": "teams",
        "resource": {
          "chatId": "@outputs('Get_Task_Row')?['body/crb3b_runningchatid']"
        },
        "referencers": [
          {
            "referenceSourceType": "Actions",
            "operationId": "/providers/Microsoft.PowerApps/apis/shared_teams/apiOperations/UpdateCardInConversation"
          }
        ]
      }
    ],
    "isManaged": false,
    "machineDescriptionData": {}
  }
}