flows/TaskFailed.json
{
  "name": "a4b59d39-a30f-4f4b-a07f-23b5a513bd11",
  "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4/flows/a4b59d39-a30f-4f4b-a07f-23b5a513bd11",
  "type": "Microsoft.ProcessSimple/environments/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "TaskFailed",
    "userType": "Owner",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cr_shraga_task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "cr_status eq 8"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Init_RecentMsgs": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecentMsgs",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Init_OlderMsgs": {
          "runAfter": {
            "Init_RecentMsgs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OlderMsgs",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Init_Counter": {
          "runAfter": {
            "Init_OlderMsgs": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Counter",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "Init_Counter": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr_shraga_tasks",
              "recordId": "@triggerOutputs()?['body/cr_shraga_taskid']",
              "$select": "cr_prompt,cr_status,cr_result,cr_statusmessage,crb3b_useremail,crb3b_runningchatid,crb3b_runningmessageid,crb3b_onedriveurl,createdon,crb3b_sessioncost,crb3b_sessiontokens,crb3b_sessionduration,crb3b_shortdescription"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_Email": {
          "actions": {
            "Terminate_No_Email": {
              "runAfter": {},
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@empty(outputs('Get_a_row_by_ID')?['body/crb3b_useremail'])",
                  true
                ]
              }
            ]
          },
          "type": "If"
        },
        "Check_Status": {
          "actions": {
            "Terminate_Wrong_Status": {
              "runAfter": {},
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Check_Email": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Get_a_row_by_ID')?['body/cr_status']",
                    8
                  ]
                }
              }
            ]
          },
          "type": "If"
        },
        "List_Messages": {
          "runAfter": {
            "Check_Status": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr_shragamessages",
              "$filter": "crb3b_taskid eq '@{triggerOutputs()?['body/cr_shraga_taskid']}'",
              "$orderby": "createdon asc",
              "$select": "cr_content,createdon"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_message": {
          "foreach": "@outputs('List_Messages')?['body/value']",
          "actions": {
            "Increment_Counter": {
              "runAfter": {},
              "type": "IncrementVariable",
              "inputs": {
                "name": "Counter",
                "value": 1
              }
            },
            "Compose_Formatted_Msg": {
              "runAfter": {
                "Increment_Counter": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@concat('[', formatDateTime(items('Apply_to_each_message')?['createdon'], 'HH:mm:ss'), '] ', replace(replace(replace(replace(substring(coalesce(items('Apply_to_each_message')?['cr_content'], '(no content)'), 0, min(length(coalesce(items('Apply_to_each_message')?['cr_content'], '(no content)')), 200)), '\\', '\\\\'), '\"', '\\\"'), decodeUriComponent('%0A'), '\\n'), decodeUriComponent('%0D'), ''))"
            },
            "Append_To_Recent": {
              "runAfter": {
                "Compose_Formatted_Msg": [
                  "Succeeded"
                ]
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "RecentMsgs",
                "value": "@{if(greater(variables('Counter'), 1), ',', '')}{\"type\":\"ColumnSet\",\"spacing\":\"Small\",\"columns\":[{\"type\":\"Column\",\"width\":\"90px\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"@{take(outputs('Compose_Formatted_Msg'), add(indexOf(outputs('Compose_Formatted_Msg'), ']'), 1))}\",\"color\":\"Accent\",\"size\":\"Small\",\"spacing\":\"None\",\"fontType\":\"Monospace\"}]},{\"type\":\"Column\",\"width\":\"stretch\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"@{trim(substring(outputs('Compose_Formatted_Msg'), add(indexOf(outputs('Compose_Formatted_Msg'), ']'), 2)))}\",\"size\":\"Small\",\"wrap\":true,\"spacing\":\"None\"}]}]}"
              }
            }
          },
          "runAfter": {
            "List_Messages": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "operationOptions": "Sequential"
        },
        "Compose_TaskTitle": {
          "runAfter": {
            "Apply_to_each_message": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@replace(replace(replace(replace(take(coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_shortdescription'],outputs('Get_a_row_by_ID')?['body/cr_prompt'],'Task'),200), '\\\\', '\\\\\\\\'), '\"', '\\\\\"'), decodeUriComponent('%0A'), ' '), decodeUriComponent('%0D'), '')"
        },
        "Compose_SubmittedTime": {
          "runAfter": {
            "Compose_TaskTitle": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@formatDateTime(coalesce(outputs('Get_a_row_by_ID')?['body/createdon'], utcNow()), 'MMM dd, yyyy h:mm tt')"
        },
        "Compose_ResultText": {
          "runAfter": {
            "Compose_SubmittedTime": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@replace(replace(replace(replace(take(coalesce(outputs('Get_a_row_by_ID')?['body/cr_statusmessage'], 'No details available.'), 1500), '\\', '\\\\'), '\"', '\\\"'), decodeUriComponent('%0A'), '\\n'), decodeUriComponent('%0D'), '')"
        },
        "Compose_FullCard": {
          "runAfter": {
            "Compose_Duration": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@concat('{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.5\",\"body\":[{\"type\":\"Container\",\"style\":\"attention\",\"bleed\":true,\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"width\":\"auto\",\"items\":[{\"type\":\"Image\",\"url\":\"https://cdn-icons-png.flaticon.com/512/4712/4712109.png\",\"size\":\"Medium\",\"style\":\"Person\",\"altText\":\"Shraga Agent\"}],\"verticalContentAlignment\":\"Center\"},{\"type\":\"Column\",\"width\":\"stretch\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"Shraga Worker\",\"weight\":\"Bolder\",\"size\":\"Medium\"},{\"type\":\"TextBlock\",\"text\":\"', take(outputs('Compose_TaskTitle'), 200), ' ', if(empty(outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl']), '', concat('[See full description](', replace(coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_onedriveurl'],''),'&view=0','/TASK_PROMPT.md'), ')')), '\",\"size\":\"Default\",\"isSubtle\":true,\"spacing\":\"None\",\"wrap\":true}],\"verticalContentAlignment\":\"Center\"},{\"type\":\"Column\",\"width\":\"auto\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"FAILED\",\"color\":\"Attention\",\"size\":\"Default\",\"weight\":\"Bolder\"}],\"verticalContentAlignment\":\"Center\"}]}]},{\"type\":\"Container\",\"spacing\":\"Medium\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"Task: ', take(string(outputs('Get_a_row_by_ID')?['body/cr_shraga_taskid']), 8), '\",\"size\":\"Small\",\"isSubtle\":true,\"spacing\":\"None\"},{\"type\":\"TextBlock\",\"text\":\"Submitted: ', outputs('Compose_SubmittedTime'), '\",\"size\":\"Default\",\"isSubtle\":true},{\"type\":\"TextBlock\",\"text\":\"ACTIVITY LOG\",\"size\":\"Default\",\"isSubtle\":true,\"weight\":\"Bolder\",\"spacing\":\"Small\"}]},', if(greater(variables('Counter'), 10), concat('{\"type\":\"Container\",\"spacing\":\"Small\",\"items\":[{\"type\":\"Container\",\"style\":\"emphasis\",\"id\":\"logCollapsed\",\"maxHeight\":\"250px\",\"items\":[', variables('RecentMsgs'), ']},{\"type\":\"Container\",\"style\":\"emphasis\",\"id\":\"logExpanded\",\"isVisible\":false,\"items\":[', variables('RecentMsgs'), ']},{\"type\":\"Container\",\"id\":\"btnExpand\",\"spacing\":\"None\",\"selectAction\":{\"type\":\"Action.ToggleVisibility\",\"targetElements\":[\"logCollapsed\",\"logExpanded\",\"btnExpand\",\"btnCollapse\"]},\"items\":[{\"type\":\"TextBlock\",\"text\":\"\\u25bc expand log\",\"size\":\"Small\",\"color\":\"Accent\",\"horizontalAlignment\":\"Center\"}]},{\"type\":\"Container\",\"id\":\"btnCollapse\",\"isVisible\":false,\"spacing\":\"None\",\"selectAction\":{\"type\":\"Action.ToggleVisibility\",\"targetElements\":[\"logCollapsed\",\"logExpanded\",\"btnExpand\",\"btnCollapse\"]},\"items\":[{\"type\":\"TextBlock\",\"text\":\"\\u25b2 collapse log\",\"size\":\"Small\",\"color\":\"Accent\",\"horizontalAlignment\":\"Center\"}]}]}'), concat('{\"type\":\"Container\",\"spacing\":\"Small\",\"style\":\"emphasis\",\"items\":[', variables('RecentMsgs'), ']}')), ',{\"type\":\"Container\",\"spacing\":\"Medium\",\"separator\":true,\"items\":[{\"type\":\"TextBlock\",\"text\":\"ERROR\",\"size\":\"Default\",\"weight\":\"Bolder\",\"color\":\"Attention\"},{\"type\":\"TextBlock\",\"text\":\"', outputs('Compose_ResultText'), '\",\"wrap\":true,\"size\":\"Default\"}]},{\"type\":\"Container\",\"spacing\":\"Small\",\"items\":[{\"type\":\"FactSet\",\"facts\":[{\"title\":\"Failed\",\"value\":\"', formatDateTime(utcNow(), 'MMM dd, yyyy h:mm tt'), '\"},{\"title\":\"Duration\",\"value\":\"', coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_sessionduration'], outputs('Compose_Duration')), '\"}]}]}]}')"
        },
        "Parse_Card_JSON": {
          "runAfter": {
            "Compose_FullCard": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@json(outputs('Compose_FullCard'))"
        },
        "Check_Running_Card": {
          "actions": {
            "Update_an_adaptive_card_in_a_chat_or_channel": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Group chat",
                  "body/messageId": "@outputs('Get_a_row_by_ID')?['body/crb3b_runningmessageid']",
                  "body/recipient": "@outputs('Get_a_row_by_ID')?['body/crb3b_runningchatid']",
                  "body/messageBody": "@outputs('Parse_Card_JSON')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                  "connectionName": "shared_teams",
                  "operationId": "UpdateCardInConversation"
                },
                "retryPolicy": {
                  "type": "fixed",
                  "count": 3,
                  "interval": "PT30S"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Parse_Card_JSON": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Post_card_in_a_chat_or_channel": {
                "runAfter": {},
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@outputs('Get_a_row_by_ID')?['body/crb3b_useremail']",
                    "body/messageBody": "@outputs('Parse_Card_JSON')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                    "connectionName": "shared_teams",
                    "operationId": "PostCardToConversation"
                  },
                  "retryPolicy": {
                    "type": "fixed",
                    "count": 3,
                    "interval": "PT30S"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@coalesce(outputs('Get_a_row_by_ID')?['body/crb3b_runningmessageid'], '')",
                    ""
                  ]
                }
              }
            ]
          },
          "type": "If"
        },
        "Compose_Duration": {
          "runAfter": {
            "Compose_ResultText": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@concat(string(div(div(sub(ticks(utcNow()), ticks(coalesce(outputs('Get_a_row_by_ID')?['body/createdon'], utcNow()))), 10000000), 60)), 'm ', string(mod(div(sub(ticks(utcNow()), ticks(coalesce(outputs('Get_a_row_by_ID')?['body/createdon'], utcNow()))), 10000000), 60)), 's')"
        }
      },
      "outputs": {}
    },
    "state": "Started",
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "connectionName": "57aef69c3763444e8cfb3b0b5ba18fea",
        "source": "Embedded",
        "impersonation": {},
        "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
        "displayName": "Microsoft Dataverse",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1797/1.0.1797.4592/commondataserviceforapps/icon.png",
        "brandColor": "",
        "tier": "Premium",
        "apiName": "commondataserviceforapps",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_teams": {
        "connectionName": "70d2dee52a344508a14a40ee6013baf1",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams",
        "displayName": "Microsoft Teams",
        "iconUri": "https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1795/1.0.1795.4870/teams/icon.png",
        "brandColor": "",
        "tier": "Standard",
        "apiName": "teams",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "createdTime": "2026-02-14T10:20:22.485113Z",
    "lastModifiedTime": "2026-02-24T11:42:20.9198528Z",
    "flowSuspensionReason": "None",
    "environment": {
      "name": "8660590d-33ac-ecd8-aef3-e4dd0d6071f4",
      "type": "Microsoft.ProcessSimple/environments",
      "id": "/providers/Microsoft.ProcessSimple/environments/8660590d-33ac-ecd8-aef3-e4dd0d6071f4"
    },
    "definitionSummary": {
      "triggers": [
        {
          "type": "OpenApiConnectionWebhook",
          "swaggerOperationId": "SubscribeWebhookTrigger"
        }
      ],
      "actions": [
        {
          "type": "InitializeVariable"
        },
        {
          "type": "InitializeVariable"
        },
        {
          "type": "InitializeVariable"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "GetItem"
        },
        {
          "type": "If"
        },
        {
          "type": "If"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "ListRecords"
        },
        {
          "type": "Foreach"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Compose"
        },
        {
          "type": "If"
        },
        {
          "type": "Compose"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "Terminate"
        },
        {
          "type": "IncrementVariable"
        },
        {
          "type": "Compose"
        },
        {
          "type": "AppendToStringVariable"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "UpdateCardInConversation"
        },
        {
          "type": "OpenApiConnection",
          "swaggerOperationId": "PostCardToConversation"
        }
      ]
    },
    "creator": {
      "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userId": "e7d3c4dd-130e-4b94-9594-4c74cdfb277b",
      "userType": "ActiveDirectory"
    },
    "installationStatus": "NotApplicable",
    "provisioningMethod": "FromDefinition",
    "flowFailureAlertSubscribed": true,
    "referencedResources": [
      {
        "service": "teams",
        "resource": {
          "chatId": "@outputs('Get_a_row_by_ID')?['body/crb3b_runningchatid']"
        },
        "referencers": [
          {
            "referenceSourceType": "Actions",
            "operationId": "/providers/Microsoft.PowerApps/apis/shared_teams/apiOperations/UpdateCardInConversation"
          }
        ]
      },
      {
        "service": "teams",
        "resource": {
          "chatId": "@outputs('Get_a_row_by_ID')?['body/crb3b_useremail']"
        },
        "referencers": [
          {
            "referenceSourceType": "Actions",
            "operationId": "/providers/Microsoft.PowerApps/apis/shared_teams/apiOperations/PostCardToConversation"
          }
        ]
      }
    ],
    "isManaged": false,
    "machineDescriptionData": {}
  }
}